[submodule "src/cortext/cortext-auth"]
	path = src/cortext/cortext-auth
	url = git@github.com:cortext/cortext-auth.git
[submodule "src/cortext/cortext-assets"]
	path = src/cortext/cortext-assets
	url = git@github.com:cortext/cortext-assets.git
[submodule "src/cortext/cortext-manager"]
	path = src/cortext/cortext-manager
	url = git@github.com:cortext/cortext-manager.git
[submodule "src/cortext/cortext-lib-symfony"]
	path = src/cortext/cortext-lib-symfony
	url = git@github.com:cortext/cortext-lib-symfony.git
[submodule "src/cortext/cortext-graphs"]
	path = src/cortext/cortext-graphs
	url = git@github.com:cortext/cortext-graphs.git
