<?php
/**
 * Cortext MCP - config file
 * 
 */


error_reporting(E_NOTICE);


define("QUEUED", 0);
define("STARTED", 1);
define("PROC_ERROR", 8);
define("FINISHED", 9);


/**
 * job database
 */
$server="localhost";
$userName="root";
$userPass="c0rt3xt";
$dbName="ctmanager";

/* assets server */
$assetsUrl = "http://192.168.100.100:29200";
?>
